<?xml version="1.0"?>
<launch>

  <!-- Load the robot model into the parameter server -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find my_robot_model)/urdf/my_robo_simulation_imu.urdf'"/>
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Launch the gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find my_robot_model)/gazebo_worlds/plaza_world.world"/>
  </include>

  <!-- Load the robot model in the parameter server into the gazebo world -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model my_robo -param robot_description"/>

  <!-- Joint State Publisher - Publishes Joint Positions -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Robot State Publisher  - Uses URDF and Joint States to compute Transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- RVIZ  - Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_robot_model)/rviz/my_robo_imu.rviz"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="'$(find my_robot_model)/maps/plaza_world_map.yaml'"/>

  <!-- Sensor Fusion: To combine odometry and IMU data -->
  <include file="$(find robot_pose_ekf)/launch/robot_pose_ekf.launch"/>

  <!-- AMCL - Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam file="$(find bringup)/config/amcl_fusion.yaml" command="load"/>
  </node>

  <!-- Keyboard Teleop -->
  <include file="$(find turtlebot_teleop)/launch/keyboard_teleop_simulation.launch"/>

</launch>
